{% extends '::base.html.twig' %}

{% block contentTitle %}
    Witaj na WinoPortalu!
{% endblock %}
{% block content %}
    Strona ta powstała z myślą o miłośnikach wina domowego, zarówno producentach
    jak i konsumentach, czyli o Was.<br/>
    Każdy kto chce zaprezentować swoje domowe wyroby może to zrobić na tej stronie.
    Będą one dostępne dołączone do listy win, tak aby każdy odwiedzający mógł 
    zapoznać się z we wszystkimi wyrobami.
    Lista znajduje się w zakładce 
    <a href="{{ path('wino_index') }}">Wina</a>
{% endblock %}
